body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.main-article {
    display: flex;
    margin-bottom: 20px;
}

.main-article img {
    width: 80%;
    /* height: calc(90% - 100px); */
    margin-right: 20px;
}

.main-article-content {
    max-width: 600px;
}

.main-article-content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.main-article-content p {
    margin: 10px 0;
    color: #666;
}

.main-article-content .time, 
.main-article-content .comments {
    display: inline-block;
    margin-right: 10px;
    color: #999;
}

.side-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.article {
    flex: 1;
    min-width: 250px;
}

.article h3 {
    font-size: 18px;
    color: #333;
}

.article img {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.article .comments {
    display: block;
    margin-top: 10px;
    color: #999;
     position: absolute;
    
    margin-top: 170px;
}

/* .article.opinion {
    border-top: 2px solid #ccc;
    padding-top: 10px;

} */
.article.opinion img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 20px;
    margin-top: 150px;
}

.article.opinion .author {
    display: block;
    margin-top: 10px;
    color: #999;
     position: absolute;
   
    margin-top: 150px;
}
